body {
    font-family: Arial, sans-serif;
    background: url('fondo.jpg') no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.boton {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}